*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

.night {
  position: fixed;
  inset: 0;
  filter: blur(0.1vmin);
  background-image:
    radial-gradient(ellipse at top, transparent 0%, var(--dark-color)),
    radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)),
    linear-gradient(90deg, #00fffa, #f0f0f0);
}

.flowers {
  position: relative;
  transform: scale(0.7);
}

.flower {
  position: absolute;
  bottom: 10vmin;
  transform-origin: bottom center;
  z-index: 10;
  --fl-speed: 0.8s;
}

.flower__leafs {
  position: relative;
  animation: blooming-flower 2s backwards;
}

.flower__leaf {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8vmin;
  height: 11vmin;
  border-radius: 50%;
  background-image: linear-gradient(to top, #40bbab, #a7ffee);
  transform-origin: bottom center;
}

.flower__line {
  height: 55vmin;
  width: 1.5vmin;
  background-image: linear-gradient(to top, #14757a, #39c6d6);
  animation: grow-flower-tree 4s backwards;
}

.not-loaded * {
  animation-play-state: paused !important;
}

/* ===== ANIMAÇÕES ===== */

@keyframes blooming-flower {
  0% {
    transform: scale(0);
  }
}

@keyframes grow-flower-tree {
  0% {
    height: 0;
  }
}
