body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

.container {
  position: fixed;
  inset: 0;
}

.main-svg {
  width: 100%;
  height: 100%;
}

/* GRUPO GERAL */
.petals-group {
  transform-origin: 60px 400px;
}

/* CADA PÉTALA */
.petal-group {
  transform-origin: 60px 400px;
}

.petal-group use {
  fill: currentColor;
  mask: url(#petal-mask);
}

/* CORES + ROTAÇÕES */
.petal-group:nth-child(1)  { transform: rotate(24deg);  color: hsl(350, 80%, 55%); }
.petal-group:nth-child(2)  { transform: rotate(48deg);  color: hsl(345, 80%, 55%); }
.petal-group:nth-child(3)  { transform: rotate(72deg);  color: hsl(340, 80%, 55%); }
.petal-group:nth-child(4)  { transform: rotate(96deg);  color: hsl(335, 80%, 55%); }
.petal-group:nth-child(5)  { transform: rotate(120deg); color: hsl(330, 80%, 55%); }
.petal-group:nth-child(6)  { transform: rotate(144deg); color: hsl(325, 80%, 55%); }
.petal-group:nth-child(7)  { transform: rotate(168deg); color: hsl(320, 80%, 55%); }
.petal-group:nth-child(8)  { transform: rotate(192deg); color: hsl(315, 80%, 55%); }
.petal-group:nth-child(9)  { transform: rotate(216deg); color: hsl(310, 80%, 55%); }
.petal-group:nth-child(10) { transform: rotate(240deg); color: hsl(305, 80%, 55%); }
.petal-group:nth-child(11) { transform: rotate(264deg); color: hsl(300, 80%, 55%); }
.petal-group:nth-child(12) { transform: rotate(288deg); color: hsl(295, 80%, 55%); }
.petal-group:nth-child(13) { transform: rotate(312deg); color: hsl(290, 80%, 55%); }
.petal-group:nth-child(14) { transform: rotate(336deg); color: hsl(285, 80%, 55%); }
.petal-group:nth-child(15) { transform: rotate(360deg); color: hsl(280, 80%, 55%); }
